/media/
/db.sqlite3
/__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info/
*.coverage
*.mypy_cache/
*.pytest_cache/
*.vscode/
*.idea/
*.egg
*.swp
*.bak
*.tmp
*.orig              